<h1>New addition</h1>

<form action="/wizard_add">
  <label for="Add this:">
    Add this:
  </label>
  <input id = "Add this:" type = "text" name = "first_input">

  <label for="to this:">
    to this:
  </label>
  <input id = "to this:" type = "text" name = "second_input">

  <button>
    Add!
  </button>
</form>