<h1>New division</h1>

<form action="/wizard_divide">
  <label for="Divide this:">
    Divide this:
  </label>
  <input id = "Divide this:" type = "text" name = "first_input">

  <label for="from this:">
    by this:
  </label>
  <input id = "from this:" type = "text" name = "second_input">

  <button>
    Divide!
  </button>
</form>