<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="Multiply this:">
    Multiply this:
  </label>
  <input id = "Multiply this:" type = "text" name = "first_input">

  <label for="to this:">
    by this:
  </label>
  <input id = "to this:" type = "text" name = "second_input">

  <button>
    Multiply!
  </button>
</form>